/*
// ======================================================
// BOARD
// ======================================================
*/

#monopoly {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  height: 100vh;
  background-color: var(--bg);
  position: relative;
}

.board {
  grid-area: 1/2/2/2;
  align-self: center;
  display: grid;
  grid-template-columns: 125px repeat(9, 80px) 125px;
  grid-template-rows: 105px repeat(9, 80px) 105px;
  border: 1px solid var(--black);
  background-color: var(--board);
}

/*
-----------------------------------------------------
// CENTER
-----------------------------------------------------
*/

.center {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  background-color: #51646f;
  border: 1px solid var(--black);
  position: relative;
}

.center .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  font-size: var(--font55);
  font-weight: var(--fw600);
  letter-spacing: 9px;
  color: rgba(255, 255, 255);
  text-shadow: 0 0 15px rgb(255 255 255 / 50%), 0 0 10px rgb(255 255 255 / 50%);
}

.center-action {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.center-action .turn-timer {
  max-width: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 6px;
  border-bottom: 1px solid var(--black);
  border-left: 1px solid var(--black);
  text-align: center;
  font-size: var(--font18);
  color: #ec633a;
}

.center-action .dices {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid var(--black);
}

.center-action .dices .username-turn {
  min-width: 250px;
  text-align: center;
}

.center-action .dices .dices-action {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  width: 100%;
  border: 2px solid var(--green);
  border-radius: 50px;
  margin-top: 20px;
}

.center-action .dices .roll-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw600);
  width: 100%;
}

.center-action .dices .roll-btn img {
  height: 50px;
  margin-left: 10px;
  pointer-events: none;
}

.center-action .dices .rolled-dices {
  height: 50px;
  padding: 10px;
}

/*
-----------------------------------------------------
// CENTER - END
-----------------------------------------------------
*/

/*
-----------------------------------------------------
// ROWS
-----------------------------------------------------
*/

.board .row {
  display: grid;
  padding: 0;
  margin: 0;
}

.board .horizontal {
  grid-template-columns: repeat(9, 1fr);
  border-left: 1px solid var(--black);
  border-right: 1px solid var(--black);
}

.board .vertical {
  grid-template-rows: repeat(9, 1fr);
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}

/*
-----------------------------------------------------
// ROWS - END
-----------------------------------------------------
*/

/*
-----------------------------------------------------
// TOP
-----------------------------------------------------
*/

.board .top {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-column: 1/11;
}

.board .top li .view-place {
  flex-direction: column-reverse;
}

.board .top li .view-place .landing-spot {
  align-items: flex-end;
  padding-bottom: 10px;
}

/*
-----------------------------------------------------
// TOP - END
-----------------------------------------------------
*/

/*
-----------------------------------------------------
// RIGHT
-----------------------------------------------------
*/

.board .right {
  display: grid;
  grid-template-rows: 105px 1fr;
  grid-column: 11;
  grid-row: 1 / 11;
}

.board .right li .landing-spot {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

/*
-----------------------------------------------------
// RIGHT - END
-----------------------------------------------------
*/

/*
-----------------------------------------------------
// BOTTOM
-----------------------------------------------------
*/

.board .bottom {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-area: 11/2 / auto/12;
  direction: rtl;
}

.board .bottom li .view-place {
  flex-direction: column;
}

.board .bottom li .view-place .landing-spot {
  padding-top: 10px;
}

/*
-----------------------------------------------------
// BOTTOM - END
-----------------------------------------------------
*/

/*
-----------------------------------------------------
// LEFT
-----------------------------------------------------
*/

.board .left {
  display: grid;
  grid-template-rows: 1fr 105px;
  grid-column: 1;
  grid-row: 2 / 12;
}

.board .left li:first-child {
  grid-row: 9;
}

.board .left li:nth-child(2) {
  grid-row: 8;
}

.board .left li:nth-child(3) {
  grid-row: 7;
}

.board .left li:nth-child(4) {
  grid-row: 6;
}

.board .left li:nth-child(5) {
  grid-row: 5;
}

.board .left li:nth-child(6) {
  grid-row: 4;
}

.board .left li:nth-child(7) {
  grid-row: 3;
}

.board .left li:nth-child(8) {
  grid-row: 2;
}

.board .left li:nth-child(9) {
  grid-row: 1;
}

.board .left li .landing-spot {
  writing-mode: vertical-lr;
}

/*
-----------------------------------------------------
// LEFT - END
-----------------------------------------------------
*/

/*
-----------------------------------------------------
// CORNERS
-----------------------------------------------------
*/

.board .corner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board .jail {
  grid-row: 1 / 1;
}

.board .go-to-jail {
  grid-area: 2;
}

/*
-----------------------------------------------------
// CORNERS - END
-----------------------------------------------------
*/

/*
-----------------------------------------------------
// PLACES
-----------------------------------------------------
*/

.board .top li:not(:last-child) {
  border-right: 1px solid var(--black);
}

.board .right li:not(:last-child) {
  border-bottom: 1px solid var(--black);
}

.board .bottom li:not(:last-child) {
  border-left: 1px solid var(--black);
}

.board .left li:not(:last-child) {
  border-top: 1px solid var(--black);
}

/*
-----------------------------------------------------
// PLACES - END
-----------------------------------------------------
*/

/*
-----------------------------------------------------
// PLACE INFO
-----------------------------------------------------
*/

/*
-----------------------------------------------------
// General
-----------------------------------------------------
*/

.board .tile {
  position: relative;
}

.board .players-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  justify-items: center;
  writing-mode: initial;
  transform: inherit;
  padding: 5px;
}

.board .player-block {
  background-color: var(--player-bg);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--player-bg);
  transition: all 0.15s ease-in-out;
}

.board .player-block img {
  height: 30px;
}

.board .row .player-block {
  width: 30px;
  height: 30px;
}

.board .row .player-block img {
  height: 28px;
}

.board .row li button {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: var(--font13);
  font-weight: var(--fw600);
}

.board .row .property button .description {
  display: block;
}

/*
-----------------------------------------------------
// General
-----------------------------------------------------
*/

.board .horizontal .view-place .description {
  width: 100%;
  min-height: 25px;
}

.board .vertical .view-place .description {
  flex: 0 0 20%;
  height: 100%;
}

.board .horizontal .view-place .landing-spot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.board .vertical .view-place .landing-spot {
  max-height: 78px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-right: 10px;
}

.board .right .property .view-place {
  flex-direction: row;
}

.board .left .view-place {
  flex-direction: row-reverse;
}

/*
-----------------------------------------------------
// PLACE INFO - END
-----------------------------------------------------
*/

/*
// ======================================================
// BOARD - END
// ======================================================
*/

/*
// ======================================================
// FORM
// ======================================================
*/

.players-form {
  width: 100%;
  max-width: 300px;
  grid-area: 1/2/2/2;
  align-self: center;
  background-color: #dedede;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.players-form .player-num {
  margin-bottom: 22px;
}

.players-form .choose-name input {
  width: 100%;
  padding: 7px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--black);
}

.players-form form .error {
  color: var(--red);
  font-size: 0.875rem;
}

.players-form .char-select {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.players-form .char-select [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.players-form .char-select img {
  height: 80px;
  margin: auto;
  filter: opacity(0.6);
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.players-form .char-select [type="radio"]:checked + img {
  filter: drop-shadow(2px 4px 6px black);
}

.players-form .char-select .error {
  grid-area: auto/span 2;
}

.players-form [type="submit"] {
  margin-top: 20px;
  border: 2px solid #484848;
  padding: 10px;
  width: 100%;
  color: #484848;
  font-weight: var(--fw600);
}

.players-form .or-start-game .or::before,
.players-form .or-start-game .or::after {
  content: "";
  width: 1px;
  height: 15px;
  background-color: var(--black);
}

.players-form .or-start-game .or {
  display: grid;
  justify-items: center;
  grid-gap: 6px;
  margin: 15px 0px;
  font-size: 10px;
}

.players-form .or-start-game .start-game-btn {
  background-color: var(--green);
  border: 2px solid transparent;
  width: 100%;
  padding: 15px;
  font-size: var(--font18);
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.players-form .or-start-game .start-game-btn:hover {
  background-color: transparent;
  color: var(--green);
  border: 2px solid var(--green);
}

/*
// ======================================================
// FORM - END
// ======================================================
*/

/*
// ======================================================
// GAME PANEL
// ======================================================
*/

.game-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
}

/*
// ======================================================
// GAME PANEL - END
// ======================================================
*/

/*
// ======================================================
// SCOREBOARD
// ======================================================
*/

.scoreboard table thead th,
.scoreboard table tbody td {
  padding: 8px 16px;
}

.scoreboard table {
  border: 1px solid var(--black);
  border-spacing: 0;
  color: #ec633a;
}

.scoreboard table thead th:not(:last-child),
.scoreboard table tbody td:not(:last-child) {
  border-right: 1px solid var(--black);
}

.scoreboard table tbody td {
  border-top: 1px solid var(--black);
}

.scoreboard table tbody td.player-character img {
  width: 45px;
  height: auto;
  margin: auto;
  object-fit: cover;
}

/*
// ======================================================
// SCOREBOARD - END
// ======================================================
*/
