@import-normalize;

/*
//======================================================================
// CUSTOM RESETS
//======================================================================
*/

input,
button,
a,
textarea,
select {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

select {
  background-color: #fff;
}

pre {
  margin: 0;
  padding: 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #eee;
  font-family: monospace;
  direction: ltr;
  text-align: left;
  word-break: break-all;
  white-space: break-spaces;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: unset;
}

ins,
abbr[title] {
  text-decoration: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
}

/*
//======================================================================
// CUSTOM RESETS - END
//======================================================================
*/

/*
//======================================================================
// WHOLE SITE
//======================================================================
*/

:root {
  --player-bg: #00000026;
  --bg: #444444;
  --black: #191515;
  --board: #b6b6b6;
  --red: red;
  --green: #199419;
  --font13: 0.813rem;
  --font14: 0.875rem;
  --font16: 1rem;
  --font18: 1.125rem;
  --font55: 3.438rem;
  --fw600: 600;
  --fw700: 700;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Assistant", sans-serif;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.bg-contain,
.site-bg {
  background-position: center;
  background-repeat: no-repeat;
}

.site-bg {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.wnm > :first-child {
  margin-top: 0;
}

.wnm > :last-child {
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*
//======================================================================
// WHOLE SITE - END
//======================================================================
*/
